* {
  /* padding is not included in the reset */
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --panch: #fa5f1d;
  --orange: #ffa067;
  --purple: #5843be;
  --red: #fe7066;
  --homeworkBg: #ffede6;
  --readingBg: #f6f4ff;
  --borderRadius: 10px;
  --border: 0.5px solid lightgrey;
}

body,
html {
  min-height: 100vh;
}

body {
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 7fr 3fr;
  grid-template-areas: "nav main profile";
}

/* ----------Styling Navbar and its components--------- */

nav {
  background-color: #f1f3f6;
  height: 100vh;
  display: grid;
  grid-area: nav;
  grid-template-rows: repeat(8, 1fr);
  place-items: center;
}

/* styling logo and spanning it to 3 rows */
#logo {
  grid-row: 1 / 3;
}
/* creating the button effect on the logo */
#logo p {
  color: var(--panch);
  /* font-size: 32px; */
  font-size: 2em;
  font-weight: bold;
  /* adding box shadow */
  width: 70px;
  height: 70px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2),
    -5px -5px 8px rgba(255, 255, 255, 0.6),
    inset 3px 3px 4px rgba(255, 255, 255, 0.8),
    inset -3px -3px 4px rgba(0, 0, 0, 0.2);
  /* centring P. using flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* assigning nav items rows */
.filter {
  grid-row: 3 / 4;
}
.dashboard {
  grid-row: 4 / 5;
}
.profile {
  grid-row: 5 / 6;
}
.stats {
  grid-row: 6 / 7;
}
/* Styling nav items using btn class */
.btn {
  /* width: 25px;
  height: 25px; */
  width: 45px;
  height: 45px;
  padding: 10px;
  opacity: 0.4;
}
/* styling active btn class */
.active {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* Applying inward box-shadow using inset */
  box-shadow: inset -3px -3px 4px rgba(255, 255, 255, 0.6),
    inset 3px 3px 10px rgba(0, 0, 0, 0.4);
}

/* -----------Styling main and its components-------- */
main {
  grid-area: main;
}

/* Styling profile and its components */
.profile {
  grid-area: profile;
}
